@{
    ViewData["Title"] = "Home Page";
}
<div class="container text-center">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome to Library System</h1>
        <p class="lead">Library System to prosta aplikacja do zarządzania biblioteką, zaprojektowana w celu usprawnienia procesu zarządzania książkami i zasobami bibliotecznymi.</p>
        <hr class="my-4">
        <p class="font-weight-bold" style="font-size: 1.5rem;">Developed by:</p>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Korneliusz Świerczek</h5>

                        <p class="card-text"><small class="text-muted">Student ID: 14933</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Krystian Żak</h5>

                        <p class="card-text"><small class="text-muted">Student ID: 14912</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
